@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --fondo:#003049;
    --letras1:#f4f1de;
    --botones1:#f77f00;
    --botones2:#fcbf49;
    --letras2:#d62828;
}

body{
    background: var(--fondo);
    position: relative;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}
/* INICIO NAV-MOBILE */
.mobile__menu-icon{
    position: relative;
    border: 0.1rem solid var(--botones1);
    width: 2rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.mobile__menu-line{
    width: 60%;
    display: block;
    height: 0.1rem;
    background: var(--botones1);
    border-radius: 100%;
    gap: 0.4rem;
}
.mobile__menu-line-animation1{
    position: absolute;
    animation: linea-uno 1s 1 linear forwards;
}
@keyframes linea-uno {
    from{
        transform: rotate3D(0);
        
    }
    to{
        
        transform: rotate3D(0, 0, 1, 45deg);
        width: 90%;
    }
}
.mobile__menu-line-animation2{
    animation: linea-dos 0.5s 1 linear forwards;
}
@keyframes linea-dos {
    from{
        visibility: visible;
    }
    to{
        visibility:hidden;
    }
}
.mobile__menu-line-animation3{
    position: absolute;
    animation: linea-tres 1s 1 linear forwards;
}
@keyframes linea-tres {
    from{
        transform: rotate3D(0);
        
    }
    to{
        
        transform: rotate3D(0, 0, 1, -45deg);
        width: 90%;
    }
}
.mobile__contenedor-icon{
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile__icon-img{
    width:2.5rem;
    height: 2.5rem;
    position: relative;
}
.mobile__icon-text{
    position: absolute;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--letras1);
    text-shadow: 0 0 1rem black;
    padding-left: 0.5rem;
}

.nav__mobile{
    background: #002f498c;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #013957;
}
.mobile__menu{
    align-self: center;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility:hidden;
}
.mobile__menu-visibility{
    visibility: visible;
}

.mobile__menu-items{
    background: #002f498c;
    opacity: 0;
    color: var(--letras1);
    text-align: center;
    padding: 1rem;
    border: 0.1rem solid #013957;
}
.mobile__menu-items-animation{
    animation: menu-items 1s 1 linear forwards;
}
.mobile__menu-items-animation:nth-child(1){
    animation-delay: 0.2s;
}
.mobile__menu-items-animation:nth-child(2){
    animation-delay: 1s;
}
.mobile__menu-items-animation:nth-child(3){
    animation-delay: 2s;
}
.mobile__menu-items-animation:nth-child(4){
    animation-delay: 3s;
}
@keyframes menu-items {
    from{
        transform: translateY(-10rem);
        opacity: 0;
    }   
    to{
        transform: translateY(0);
        opacity: 1;
    } 
}
/* FIN NAV-MOBILE */

/* INICIO SECTION-INICIO-MOBILE */
.section__inicio{
    height: 100vh;
    background-image: url(/img/fondo-mobile.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.section__titulos{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.inicio__titulo{
    color: var(--letras1);
    font-weight: bold;
    font-size: 3rem;
}
.inicio__txt{
    color: #b9b9b8;
    background: rgba(0, 0, 0, 0.185);
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    text-shadow: 0 0 1rem black;
}
.section__inicio-btn{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    padding-top: 1.5rem;
}
.inicio__btn-promociones{
    border: 0.1rem solid var(--botones1);
    border-radius: 5rem;
    padding: 0.5rem 0;
    width: 12rem;
    text-align: center;
    background: #f78000be;
    color: var(--letras1);
    font-weight: bold;
    text-shadow: 0 0 1rem black;
}
.inicio__btn-categorias{
    border: 0.1rem solid var(--botones1);
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    width: 12rem;
    text-align: center;
    background: #f78000be;
    color: var(--letras1);
    font-weight: bold;
    text-shadow: 0 0 1rem black;
}
/* FIN SECTION-INICIO-MOBILE */

/* INICIO SECTION-CATEGORIA-MOBILE */
.section__categoria{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}
.categoria__titulo{
    color: var(--botones2);
    font-weight: bold;
    font-size: 2.5rem;
}
.categoria__tarjeta{
    display: flex;
    flex-direction: row;
    box-shadow: 0.5rem 0.5rem 1rem black;
    width: 95%;
    height: 12rem;
    position: relative;
}
.tarjeta__lado1{
    position: relative;
    width: 20%;
    background: var(--botones2);
}

.tarjeta__lado2{
    background:var(--letras1) ;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
}
.tarjeta__img{
    position: absolute;
    bottom: 35%;
    left: 3%;
    width: 30%;
    height: auto; 
 }
.tarjeta__titulo{
    font-weight: bold;
    color: var(--botones2);
}
.tarjeta__subtitulo{
    background: var(--botones2);
    padding: 0 0.1rem;
    color: var(--letras1);
}
.tarjeta__text{
    font-weight: bold;
}
.tarjeta__btn{
    border: 0.1rem solid var(--botones1);
    color: var(--botones1);
    padding: 0.5rem;
}
.categoria__tarjeta:nth-child(3) .tarjeta__lado1{
    background: var(--letras2);
}
.categoria__tarjeta:nth-child(3) .tarjeta__titulo{
    color: var(--letras2);
}
.categoria__tarjeta:nth-child(3) .tarjeta__subtitulo{
    background: var(--letras2);
}
.categoria__tarjeta:nth-child(3) .tarjeta__btn{
    border: 0.1rem solid var(--letras2);
    color: var(--letras2);
}
.categoria__tarjeta:nth-child(4) .tarjeta__lado1{
    background:#97068b;
}
.categoria__tarjeta:nth-child(4) .tarjeta__titulo{
    color: #97068b;
}
.categoria__tarjeta:nth-child(4) .tarjeta__subtitulo{
    background: #97068b;
}
.categoria__tarjeta:nth-child(4) .tarjeta__btn{
    border: 0.1rem solid #97068b;
    color: #97068b;
}
/* FIN SECTION-CATEGORIA-MOBILE */

/* INICIO SECTION-NOSOTROS-MOBILE */

.section__nosotros{
    height: 100vh;
    background-image: url(/img/nosotros-mobile.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 3rem;
}
.nosotros__h1{
    color: var(--botones2);
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0 0.1rem black;
}
.nosotros__p1,.nosotros__p2,.nosotros__p3{
    color: var(--letras1);
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.233);
    padding: 0 1rem;
    text-align: justify;
}
/* FIN SECTION-NOSOTROS-MOBILE */

/* INICIO FOOTER-MOBILE */

.footer__contenedor{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 0.5rem;
}
.footer__frase{
    color: var(--letras1);
    font-weight: bold;
    text-align: center;
}
.contacto__tel,.contacto__correo,.contacto__dir{
    margin-top: 0.5rem;
    color: var(--letras1);
    font-size: 1rem;
    border-bottom: 0.1rem solid var(--botones2);
}
.footer__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem
}
.redes__h1{
    color: var(--botones2);
}
.redes__icones{
    display: flex;
    gap:3rem;
    font-size: 2rem;
    color: var(--letras1);
}
