@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --fondo:#003049;
    --letras1:#f4f1de;
    --botones1:#f77f00;
    --botones2:#fcbf49;
    --letras2:#d62828;
}

body{
    background: var(--fondo);
    position: relative;
}
header{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}
/* INICIO NAV-MOBILE */
.mobile__menu-icon{
    position: relative;
    border: 0.1rem solid var(--botones1);
    width: 2rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.mobile__menu-line{
    width: 60%;
    display: block;
    height: 0.1rem;
    background: var(--botones1);
    border-radius: 100%;
    gap: 0.4rem;
}
.mobile__menu-line-animation1{
    position: absolute;
    animation: linea-uno 1s 1 linear forwards;
}
@keyframes linea-uno {
    from{
        transform: rotate3D(0);
        
    }
    to{
        
        transform: rotate3D(0, 0, 1, 45deg);
        width: 90%;
    }
}
.mobile__menu-line-animation2{
    animation: linea-dos 0.5s 1 linear forwards;
}
@keyframes linea-dos {
    from{
        visibility: visible;
    }
    to{
        visibility:hidden;
    }
}
.mobile__menu-line-animation3{
    position: absolute;
    animation: linea-tres 1s 1 linear forwards;
}
@keyframes linea-tres {
    from{
        transform: rotate3D(0);
        
    }
    to{
        
        transform: rotate3D(0, 0, 1, -45deg);
        width: 90%;
    }
}
.mobile__contenedor-icon{
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile__icon-img{
    width:2.5rem;
    height: 2.5rem;
    position: relative;
}
.mobile__icon-text{
    position: absolute;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--letras1);
    text-shadow: 0 0 1rem black;
    padding-left: 0.5rem;
}

.nav__mobile{
    background: #002f498c;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #013957;
}
.mobile__menu{
    align-self: center;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility:hidden;
}
.mobile__menu-visibility{
    visibility: visible;
}

.mobile__menu-items{
    background: #002f498c;
    opacity: 0;
    color: var(--letras1);
    text-align: center;
    padding: 1rem;
    border: 0.1rem solid #013957;
}
.mobile__menu-items-animation{
    animation: menu-items 1s 1 linear forwards;
}
.mobile__menu-items-animation:nth-child(1){
    animation-delay: 0.2s;
}
.mobile__menu-items-animation:nth-child(2){
    animation-delay: 1s;
}
.mobile__menu-items-animation:nth-child(3){
    animation-delay: 2s;
}
.mobile__menu-items-animation:nth-child(4){
    animation-delay: 3s;
}
@keyframes menu-items {
    from{
        transform: translateY(-10rem);
        opacity: 0;
    }   
    to{
        transform: translateY(0);
        opacity: 1;
    } 
}
/* FIN NAV-MOBILE */

/* INICIO SECTION */
.section__inicio{
    height: 100vh;
    background-image: url(/img/fondo-mobile.jpg);
    background-position: center;
    background-size: cover;
}